{% extends 'base.html.twig' %}

{% block title %}Guest Dashboard{% endblock %}

{% block body %}
    <div>
        <div>
            <h1>My Dashboard</h1>
        </div>
    </div>
    {% if app.user %}
        {% for guest in guests %}
            {% set id = guest.id|number_format()%}
            {% if app.user.guestId  == id %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ guest.firstName }} {{ guest.lastName }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Guest ID: {{ guest.id }}</h6>
                        <p class="card-text">Points Balance: </p>
                        <a href="{{ path('app_guest_show', {'id': guest.id}) }}" class="card-link">View Profile</a>
            {% endif %}
                    </div>
                </div>
            {% else %}
                <div>
                    <h6>No Records Found</h6>
                </div>
        {% endfor %}
    {% endif %}
{% endblock %}
