{% extends 'base.html.twig' %}

{% block title %}New Guest{% endblock %}

{% block body %}
    <div>
        <h1>Create new Guest</h1>
        {{ include('guest/_form.html.twig') }}
    </div>

{% endblock %}
