{% extends 'base.html.twig' %}

{% block title %}Edit Reward{% endblock %}

{% block body %}
    <h1>Edit Reward</h1>

    {{ include('reward/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('reward/_delete_form.html.twig') }}
{% endblock %}
