{% extends 'base.html.twig' %}

{% block title %}New Guest Points{% endblock %}

{% block body %}
    <h1>Create new Guest Points</h1>

    {{ include('guest_points/_form.html.twig') }}

{% endblock %}
